<h1>{{ title }}</h1>
<h1>Please select start point and end point</h1>
<strong>Start: </strong>
<select id="start" (change)="onChangeStart($event)">
  <option value="silkboard, Bangalore">Silkboard</option>
  <option value="International Tech Park, Bangalore">International Tech Park, Bangalore</option>
  <option value="Majestic, Bangalore">Majestic</option>
  <option value="Indira Nagar, Bangalore">Indira Nagar</option>
  <option value="Ulsoor, Bangalore">Ulsoor</option>
</select>
<strong>End: </strong>
<select id="end" (change)="onChangeEnd($event)">
  <option value="Bengaluru International Airport, Bangalore">Bengaluru International Airport</option>
  <option value="White Field, Bangalore">White Field Railway Station</option>
  <option value="Electronic City, Bangalore">Electronic City</option>
  <option value="Koramangala, Bangalore">Koramangala</option>
  <option value="HSR Layout, Bangalore">HSR Layout</option>
  <option value="Jayanagar, Bangalore">Jayanagar</option>
</select>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
   <agm-direction [origin]="origin" [destination]="destination">
  </agm-direction>
</agm-map>
